[submodule "LifeBud/mbed-src"]
	path = LifeBud/mbed-src
	url = https://github.com/mbedmicro/mbed
[submodule "LifeBud/BLE_API"]
	path = LifeBud/BLE_API
	url = https://github.com/ARMmbed/ble
[submodule "LifeBud/nRF51822"]
	path = LifeBud/nRF51822
	url = https://github.com/ARMmbed/ble-nrf51822
